<html>
    <head>
        <meta charset="utf-8"> 
        <link rel= 'stylesheet' href='bootstrap/css/bootstrap.css'  type='text/css'/>
        <script src='js/all.js'></script>
        <script type="text/javascript" src="js/countdown.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
           var socket = io.connect();
        /*startTime();*/
        /*     emit part */

        $('#submit_solution').click( function() {
            var answer = $('#user_solution').val();    
            if( !answer ){
                alert('PLEASE PROVIDE ANSWER FIRST');
            }else{
                socket.emit('check_answer', '<%= user_name %>','<%= digest %>', answer );
            }
        });

        $('#use_wildcard').click( function() {
            socket.emit('use_wildcard', '<%= user_name %>','<%= digest %>' );
        });

        /*   handle part */

        socket.on('wrong_solution', function (){
            $('#user_solution').val('');
        });

        socket.on('no_wildcard_remain', function (){
            alert(' NO WILDCARD LEFT FOR YOU ');
        });

        socket.on('update_leaderboard', function ( topers){
            // update leader board
            $('#leaderboard').html('');
            var list = "";
            for (var i = 0; i < topers.length; i++) {
                list +=  i+1 + ". " + topers[i] + ' </br>';
                //$('#leaderboard').append(list);
            }
            $('#leaderboard').html(list);

        });


        socket.on('next_level', function ( question_url){
            $('#problem').attr('src', question_url);
            $('#user_solution').val('');
        });


        socket.on('next_level', function ( question_url, status){
            alert(question_url);
            $('#problem').attr('src', question_url);            
        });

        function complete_method(){
            alert('on Complete');
            socket.emit('disconnet');
            $('#frm').submit();
        }

 /*       socket.on('close_connection', function (){
            socket.emit('disconnet');
            $('#frm').submit();
        });*/     
    </script>
    </head>

    <body background="/img/dirty_old_shirt.png">
        <form id='frm' action='/rank_list' method='get'></form>
        <div class="container" >
            <form role="form" method="post">
                <h1 style='color:white'> WELCOME <%= user_name %> </h1>
                <div style="float:left">
                <script type="application/javascript">
                    alert( <%= timer %>);
                    var myCountdown2 = new Countdown({style:"flip",time: 10, width:100, height:40, rangeHi:"day", onComplete:complete_method});
                </script>
            </div>
                </br>
                </br>
                <div class="row">
                    <div class="col-lg-8">
                        <img src='<%= image %>' id='problem' style="height:450px;width:100%;" >
                    </div>
                    <div class="col-lg-4" id='leaderboard' style='background:rgba(255, 255, 255, 0.2);color:#fff'>
                        <% for( var i=0; i< top_users.length ; i++ ) {%>
                            <%= i+1 %>. <%= top_users[i].slice(5) %>
                            </br>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <input type='text' id='user_solution' class='form-control' style='margin-top:10px;height:42px;width:100%;background:rgba(255, 255, 255, 0.2);'placeholder='INSERT YOUR ANSWER HERE IN CAPITAL WITHOUT SPACES'>
                    </div>
                    <div class="col-lg-4">
                        <div class="col-lg-6">
                            <button class='btn btn-lg btn-success' id='submit_solution' style='height:42px;width:100%;margin-top:10px;' type='button' > SUBMIT </button>
                        </div>
                        <div class="col-lg-6">
                            <button class='btn btn-lg btn-inverse' id='use_wildcard' style='margin-top:10px;height:42px;width:100%;' type='button' > Use Wildcard </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
    
</html>